* {
  padding: 0;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  color: white;
}

body {
  height: 100vh;
}

.navbar {
  width: auto;
  height: 10vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

.logo-name {
  margin-left: 10px;
  font-size: 50px;
}

.football-logo {
  height: 100px;
  border-radius: 50%;
}

.left {
  display: flex;
  align-items: center;
  margin-left: 30px;
}

.login {
  display: flex;
  width: 300px;
}

.btn-size {
  color: black;
  height: 40px;
  width: 90px;
}

.mar {
  margin-right: 20px;
}

.btn-size {
  border-radius: 8px;
  border: none;
  font-size: 18px;
}

.btn-size:hover {
  background-color: #3b8ea5;
  color: white;
  animation: forwards 0.5s 0.5s;
  transition: 0.5s;
  cursor: pointer;
}

.container {
  background:linear-gradient(to right,#000000,#0f4c75);
  /* background: linear-gradient(to right,#0f9b0f,#00ff95); */
  color: white;
  box-shadow: inset 0 0 100px rgba(0,0,0,0.3);
  height: 55vh;
  text-align: center;
  padding-top: 100px;
}

.open-head {
  color: whitesmoke;
  font-size: 100px;
  margin-bottom: 20px;
}

.open-text {
  color: whitesmoke;
  font-size: 40px;
  margin-bottom: 20px;
}

.up-btn,.down-btn {
  margin: 20px 0px;
  display: flex;
  justify-content: center;
}

.up {
  text-align: center;
  border: none;
  height: 70px;
  color: black;
  background-color: #3b8ea5;
  margin-right: 30px;
  margin-top: 30px;
  width: 300px;
  font-size: larger;
  border-radius: 50px;
}

.down {
  height: 70px;
  width: 350px;
  color: black;
  background-color: #84da77;
  font-size: larger;
  border-radius: 50px;
  margin-right:30px;
  margin-top:30px;
}

.footer{
  background-color:rgb(1, 31, 69);
  height:52vh;
  padding:50px;
}

.top{
 display: flex;
 justify-content: center;
 align-items: center;
 gap:20px;
}

/* .down:hover,.up:hover { */
/* cursor: pointer;
  background-color: whitesmoke;
  color: black;
  animation: forwards 0.2s 0.2s;
  transition: 0.5s;
} */

.mid{
  height:50px;
  margin-top:30px;
  display: flex;
  align-items: center;
  justify-content: center;
}

ul{
  display: flex;
  justify-content: center;
  align-items: center;
}

.brand-li{
  margin-left:30px;
  font-size: 30px;
}

i{
  text-decoration: none;
}

.cir{
  border-radius: 50px;
}

.fb:hover{
  color:#1877F2;
  background-color:rgb(1, 31, 69);
}

.ig:hover{
  background: linear-gradient(
    45deg, 
    #f09433 0%, /* Yellowish-orange */
    #e6683c 25%, /* Orange */
    #dc2743 50%, /* Pink */
    #cc2366 75%, /* Purple-pink */
    #bc1888 100% /* Purple */
  );
  background-color:rgb(1, 31, 69);
}

.lin:hover{
  color:#0A66C2;
  background-color:rgb(1, 31, 69);
}

.yt:hover{
  color:#ff0000;
}

.gt:hover,.x:hover{
  color:#000000;
}

.sp{
  margin-left:20px;
  font-size: 20px;
}

.bottom{
  height:250px;
  padding:0px 70px;
  margin-top:50px;
  display: flex;
  justify-content: space-between;
}

.foot-ul{
  display: block;
  margin-top:20px;
}

.foot-lin,.foot-link{
  text-decoration: none;
  margin-bottom:20px;
}

.foot-lin{
  font-size: 20px;
}

h2{
  font-size: 30px;
  color:#84da77;
}
.copyright{
  display: flex;
  justify-content: space-between;
  padding:20px;
}

.bottom-left span,.bottom-right span{
    font-family:Arial, Helvetica, sans-serif;
    font-size: 19px;
}

